
.news{
	width:1100px;
	padding-top:20px;
	overflow:hidden;
	zoom:1
}

.news:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}

.news .news-wrap{
	width:1200px
}

.box--news{
	float:left;
	width:500px;
	margin-right:100px
}

.bank,.company,.products{
	padding-top:20px
}

.box-ad{
	width:1100px;
	overflow:hidden
}

.box-ad img{display:block;width:100%}

.company-wrap{width:1100px;overflow:hidden}

.company-list{width:1110px}

.company-list li{
	float:left;
	width:267px;
	padding-top:10px;
	padding-right:10px;
}

.company-list .company_link{
	position:relative;z-index:0;
	display:block;width:267px;
	height:160px;
	border:1px solid #eee;
	overflow:hidden
}

.company-list .company_link .company_title{
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	right:0;
	height:40px;
	padding:0 10px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	color:#fff;
	background-color:rgba(0,0,0,.5)
}

.company-list .company_link img{
	display:block;
	width:100%;
	height:100%;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s
}

.company-list .company_link:hover{border-color:#ddd}

.company-list .company_link:hover img{
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2)
}

.bank-title{height:30px;text-align:center;background:url(../images/assets/line.png) repeat-x 0}

.bank-title h2{
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
	line-height:30px;
	font-size:20px;
	color:#000;
	background-color:#fff
}

.bank-wrap{width:1100px;overflow:hidden}

.bank-list{width:1110px}

.bank-list li{
	float:left;
	width:128px;
	padding-top:10px;
	padding-right:10px
}

.bank-list li .bank_link{
	display:block;
	width:126px;
	height:46px;
	overflow:hidden;
	border:1px solid #eee}.bank-list li .bank_link:hover{border-color:#ddd}.bank-list li .bank_link img{width:100%;height:100%}

